body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    margin: 0;
    background-color: #BBBEFE;
}

h1{
    text-align: center;
    margin-top: 10px;
    height: 38px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    margin: 0;
    background-color: #A7A2E9;
    color: #1C2951;
    border: 7px solid black;
    padding: 20px 40px;
    border-radius: 20px;
}

#scoreBoard{
    display: flex;
    justify-content: space-between;
}

#score {
    height: 0.04px;
    margin-left: 5px;
    background-color: #75866D;
    font-size: 25px;
}

#highScore {
    height: 0.04px;
    font-size: 25px;
    margin-right: 30x;
}

canvas {
    margin-top: 15px;
    border: 2px solid black;
}

#creator {
    font-family: Arial, sans-serif;
}

#restartButton {
    text-align: center;
    margin: auto;
    font-size: 18px;
    font-family: Arial, sans-serif;
    background-color: #7f78db;
    border-radius: 10px;
    top: 1000px;       
}